link(href="newst.css" rel="stylesheet")
div(id="flex-col")
    h1 music
    div
        button(style="width:200px") my music
    div
        button(style="width:200px") recommend
    div
        button(style="width:200px") random
