link(href="newst.css" rel="stylesheet")
div(id="flex-col")
    div(id="float")
        div(class="right")
            div
                p 120BPM
                div
        div(class="left")
            h3 Lalala
            span Y23lfmdfkm;s
    img(src="/grey.png" class="grey")
    div(class="flexbutts")
        img(src="/next1.png" class="reverse next")
        img(src='/white.png')
        img(src='/next1.png' class="next")
