link(href="newst.css" rel="stylesheet")
div(class="title no")
    div(class="imge")
    h1 120
    p now your BPM
    div(class="downdiv")
        button ↑UP
        button DOWN↓
        button OTHER
