link(href="style.css" rel="stylesheet")
div(id="flex-col")
    h1 HeartBPM
    strong chose mode:
    div
        button relax
    div
        button stay
    div
        button hard
    div( id="radio")
        label(class="container") My Music
            input(type="radio" checked="checked" name="radio")
            span(class="checkmark")
        label(class="container") All Music
            input(type="radio" name="radio")
            span(class="checkmark")
